body {
  background: #c7b198;
}

.hero {
  background: #596e79;
  text-align: center;
  padding: 160px 20px;
}

.botton {
  background-color: #dfd3c3;
}

.nav {
  background-color: #c7b198;
}

h1 {
  color: beige;
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
  padding-top: 80px;
}

h2 {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 80px;
}
